{% load static %} {% comment %} กล่องที่ 1 {% endcomment %}
<div class="grid-item box1">
    <div class="card">
        <h3>{{course.subject01}}</h3>
        <iframe width="350" height="150" src={{course.url01}}>
                    </iframe>
        <span>{{course.detail01}}</span>
    </div>
</div>
{% comment %} กล่องที่ 2 {% endcomment %}
<div class="grid-item box1">
    <div class="card">
        <h3>{{course.subject02}}</h3>
        <iframe width="350" height="150" src={{course.url02}}>
                    </iframe>
        <span>{{course.detail02}}</span>
    </div>
</div>
{% comment %} กล่องที่ 3 {% endcomment %}
<div class="grid-item box1">
    <div class="card">
        <h3>{{course.subject03}}</h3>
        <iframe width="350" height="150" src={{course.url03}}>
                    </iframe>
        <span>{{course.detail03}}</span>
    </div>
</div>