{% load static %} {% comment %} กล่องที่ 1 {% endcomment %}
<div class="grid-item box1">
    <div class="card">
        <h3>{{subject.Subject_name}}</h3>
        <iframe width="350" height="150" src={{subject.Url_location}}>
                    </iframe>
        <span>{{subject.Description}}</span>
    </div>
</div>
{% comment %} กล่องที่ 2 {% endcomment %}
<div class="grid-item box1">
    <div class="card">
        <h3>{{subject.Subject_name}}</h3>
        <iframe width="350" height="150" src={{subject.Url_location}}>
                    </iframe>
        <span>{{subject.Description}}</span>
    </div>
</div>
{% comment %} กล่องที่ 3 {% endcomment %}
<div class="grid-item box1">
    <div class="card">
        <h3>{{subject.Subject_name}}</h3>
        <iframe width="350" height="150" src={{subject.Url_location}}>
                    </iframe>
        <span>{{subject.Description}}</span>
    </div>
</div>